importFrom("curl",
           "curl_fetch_memory", "form_file",
           "handle_setform", "handle_setopt", "new_handle",
           "parse_headers")
           
importFrom("utils",
           "URLencode")

importFrom("xml2",
           "read_xml", "xml_children", "xml_find_all", "xml_name",
           "xml_ns", "xml_text")

export("w3c_markup_validate",
       "w3c_markup_validate_baseurl",
       "w3c_markup_validate_db",
       "w3c_markup_validate_files",
       "w3c_markup_validate_uris",
       "inspect")

S3method("format", "w3c_markup_validate")
S3method("print", "w3c_markup_validate")
S3method("as.data.frame", "w3c_markup_validate")

S3method("[", "w3c_markup_validate_db")
S3method("print", "w3c_markup_validate_db")
S3method("as.data.frame", "w3c_markup_validate_db")
S3method("c", "w3c_markup_validate_db")

S3method("inspect", "w3c_markup_validate")
S3method("inspect", "w3c_markup_validate_db")
